<?xml version="1.0"?>


<launch>
    <arg name="robot_ip" value="192.168.56.2" />

    <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>

    <include file="$(find ur5e_moveit_config)/launch/demoR.launch" />
    

</launch>

