<?xml version="1.0"?>


<launch>

    <!-- Lancement du publisher -->
    <node name="sensor_test_numpy"
          pkg="carnicero"
          type="sensor_test_numpy.py"
          output="screen" />


    

    <!-- Lancement du publisher -->
    <node name="force_sensor_publisher"
          pkg="carnicero"
          type="force_sensor_publisher.py"
          output="screen" />
</launch>

